<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

  <bean id="hfService" class="edu.buet.cse.sec5.proj3.HappyFortuneService" />

  <bean id="myCoach" class="edu.buet.cse.sec5.proj3.CricketCoach">
    <property name="fortuneService" ref="hfService" />
  </bean>
</beans>