<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

  <context:property-placeholder location="classpath:/edu/buet/cse/sec5/proj6/sport.properties"/>
  <bean id="rfService" class="edu.buet.cse.section5.project6.RandomFortuneService" />

  <bean id="myCoach" class="edu.buet.cse.section5.project6.CricketCoach">
    <property name="fortuneService" ref="rfService" />
    <property name="emailAddress" value="${foo.email}" />
    <property name="team" value="${foo.team}" />
  </bean>
</beans>